:root {
  --thm-color: #0E59F2;
  --black-color: #1C1C25;
  --body-color: #7B7E86;
  --bg-color: #eff1f5;
  --white-color: #ffffff;
  --border-color: #E3E8F4;
  --box-shadow: 0px 9px 75px rgba(8, 20, 44, 0.09);
  --body-font: 'Outfit', sans-serif;
  --heading-font: 'Outfit', sans-serif;
  --footer-bg-color: #071A3E;
  --copyright-bg: #0B2048;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 26px;
  color: var(--body-color);
  font-weight: 400;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background: var(--white-color);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font);
}

/* headers */
h1, h2, h3, h4, h5, h6, p {
  color: var(--black-color);
}

h1 {
  font-size: 60px;
  line-height: 70px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 36px;
  line-height: 46px;
}

h4 {
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  line-height: 34px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--black-color);
}

a:hover {
  color: var(--thm-color);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Column */
.col {
  padding: 0 10px;
  flex: 0 0 auto;
  width: 100%;
}
.col-1 { 
  width: 8.33%;
}
.col-2 {
  width: 16.67%
}
.col-3 {
  width: 25%;
} 
.col-4 {
  width: 33.33%;
} 
.col-5 {
  width: 41.67%;
} 
.col-6 {
  width: 50%;
} 
.col-7 {
  width: 58.33;
} 
.col-8 {
  width: 66.66%;
} 
.col-9 {
  width: 75%;
} 
.col-12 {
  width: 100%;
} 

.col-auto {
  flex: 0 0 auto;
  width: auto;
  padding: 0 10px;
}

/* flex */
.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -10px;
}

.d-flex {
  display: flex;
}

/* Top-Header */

.header__top {
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
}

.header__links ul li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
  color: var(--black-color);
}

.header__links ul li>a {
  color: var(--black-color);
}

.header__links ul a:hover {
  color: var(--thm-color);
}

.header__right {
  display: flex;
  justify-content: flex-end;
}

.header__mail {
  display: inline-block;
  margin-left: 34px;
  color: var(--black-color);
}

.header__mail i {
  margin-right: 6px;
  color: var(--black-color);
}

/* Header Menu */

.header__menu {
  padding-top: 10px;
}

.header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main__menu ul {
  margin: 0;
  padding: 0;
}

.main__menu a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

.main__menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 18px;
}

.main__menu ul a {
  padding: 30px 0;
  color: var(--black-color);
}

.main__menu>ul>li>a:hover {
  color: var(--thm-color);
}

.main__menu ul li:last-child {
  margin-right: 0 !important;
}

.main__menu ul li:first-child {
  margin-left: 0 !important;
}

/* Call Btn */

.text__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}

.text__number {
  font-weight: 600;
  color:var(--black-color);
}

.call__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: var(--white-color);
  border-radius: 100px;
  color: var(--thm-color);
  margin-right: 15px;
}

/* Button */

.btn__area {
  display: flex;
  align-items: center;
}

.btn__call {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.header__btn .themes-btn {
  padding: 13px 30px;
  font-weight: 600;
}

.themes-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 18px 40px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all .35s;
  border: none;
  background: var(--thm-color);
  color: var(--white-color);
  transition: .4s;
  border-radius: 30px;
}

a.themes-btn {
    margin-right: 45px;
}

.themes-btn:hover {
  background: var(--black-color);
  color: var(--white-color);
}

.header__area {
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Banner */
#banner {
  background: #ffffffab;
  background-image: url(/assets/hero-banner.svg);
  background-blend-mode: overlay;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.tran-y {
  transform: translateY(230px);
}

.hero__subtitle {
  display: inline-block;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: 0.5;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: var(--black-color);
  position: relative;
  padding-left: 23px;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.hero__subtitle::before {
  content: "";
  height: 8px;
  width: 8px;
  background: var(--thm-color);
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 2px;
}

.hero__title {
  font-weight: 600;
  margin-bottom: 30px;
  font-family: var(--heading-font);
  font-size: 60px;
  line-height: 70px;
  padding-right: 20px;
}

.hero__paragraph {
  margin-bottom: 45px;
  font-family: var(--body-font);
  color: var(--body-color);
}

.highlight {
  color: var(--thm-color);
  font-weight: 400;
}

.image__wrapper {
  text-align: right;
}

.tronix__image {
  position: relative;
  display: inline-block;
}

.tronix__image img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  object-fit: cover;
  padding: 13px;
}

.tronix__image::before {
  position: absolute;
  content: "";
  left: 4%;
  bottom: 10%;
  width: 480px;
  height: 480px;
  border: 1px solid var(--thm-color);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}

/* before animation */

@keyframes sliderShape {
  0%,100% {
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50% {
      transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.tronix__image::after {
  position: absolute;
  content: "";
  left: -4%;
  bottom: 15%;
  width: 480px;
  height: 460px;
  border: 1px solid var(--white-color);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape2 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape2 5s linear infinite;
}

/* after animation */

@keyframes sliderShape2 {
  0%,100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50% {
      transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@media screen and (max-width: 991px) {
  .tronix-hero-image-wrapper {
      text-align: center;
      margin-top: 60px;
  }
  .tronix-single-slide-item{
      height: auto;
      padding: 150px 0px 120px;
  }
  .hero-video-btn span{
      display: none;
  }
  .tronix-image::before,
  .tronix-image::after{
      display: none;
  }
}

/* hero btn */
.button__wrapper {
  display: flex;
  align-items: center;
}

.play__btn {
  width: 55px;
  height: 55px;
  background: var(--thm-color);
  border-radius: 50%;
  position: relative;
  margin: auto;
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  margin-right: 15px;
}

.play__btn:hover {
  color: var(--white-color);
}

.play__btn::before {
  content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    border-radius: 50%;
    border: 1px solid var(--thm-color);
}

.video__btn span {
  color: #1C1C25;
    font-weight: 500;
}

/* pulse wave */
.play__btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  border-radius: 50%;
  border: 1px solid var(--thm-color);
}

@-webkit-keyframes pulsate1 {
  0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px #105AF2;
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px #105AF2;
  }
  100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
  }
}

/* Services Section */
#services {
  padding-top: 255px;
  background-image: url(/assets/curve-shape.svg);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  transform: translateY(245px);
}

.ty {
  transform: translateY(245px);
}

.title__content {
  text-align: center;
  margin-bottom: 10px;
}

.small__title {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: var(--black-color);
  position: relative;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.small__title::before {
  content: "";
  height: 8px;
  width: 8px;
  background: var(--thm-color);
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto;
  right: 0;
  border-radius: 2px;
  box-shadow: 0px 3px 11px rgba(14, 89, 242, 0.4);
}

.small__title::after {
  content: "";
  height: 8px;
  width: 8px;
  background:var(--thm-color);
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 2px;
  box-shadow: 0px 3px 11px rgba(14, 89, 242, 0.4)
}

.section__title {
  margin-bottom: 23px;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.section__description {
  padding: 0px 310px;
  font-family: var(--body-font);
  margin-bottom: 50px;
}

/* Cards Services */

.service__box {
  padding: 40px 40px 25px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background: var(--white-color);
}

.service__box:hover {
  box-shadow: 0px 9px 75px rgba(8, 20, 44, 0.09);
}

.service__icon {
  font-size: 45px;
  margin-bottom: 40px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  color: var(--thm-color);
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  display: inline-flex;
  background: rgba(14, 89, 242, 0.1);
  justify-content: center;
  align-items: center;
}

.service__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-family: var(--heading-font);
}

.service__title a{
  color: var(--black-color);
}

.service__box:hover .service__title a {
  color: var(--thm-color);
}

.service__desc {
  margin-bottom: 20px;
  line-height: 24px;
  font-family: var(--body-font);
}

.service__btn {
  font-size: 35px;
  transform: rotate(320deg);
  margin-top: 5px;
  transform: .4s;
  color: var(--thm-color);
}

.service__box:hover .service__btn {
  transform: rotate(0deg);
  color: var(--thm-color);
  color: var(--black-color);
}

/* About section */

.bg-overlay {
  background-color: transparent;
  background-image: radial-gradient(at center right, #4268F0 17%, #4268F000 76%);
  opacity: 0.14;
  transition: border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transform: translateY(245px);
}

#about {
  transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -220px;
  margin-bottom: 0px;
  padding: 293px 0px 175px 0px;
  position: relative;
  transform: translateY(245px);
}

.about__content {
  text-align: left;
}

.about__subtitle {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: var(--black-color);
  position: relative;
  padding-left: 23px;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.about__subtitle::before {
  content: "";
  height: 8px;
  width: 8px;
  background: var(--thm-color);
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 2px;
}

.about__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 500;
  margin-bottom: 32px;
  color: var(--black-color);
}

.about__desc p {
  color: var(--body-color);
  padding-right: 35px;
}

.about__desc ul {
  margin: 20px 0 0;
  padding-left: 10px;
  padding-bottom: 5px;
}

.about__desc ul li {
  font-size: 18px;
  line-height: 34px;
  color: var(--black-color);
  list-style: none;
  position: relative;
  padding-left: 15px;
}

.about__desc ul li:after {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  background: var(--black-color);
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.about__btn__area {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

/* About image  */

.about__img__wrapper {
  text-align: right;
}

.f-sb {
  display: flex;
  justify-content: space-between;
}

.about__main {
  display: inline-block;
  transform: translateX(-10px);
  position: relative;
}

.about__small {
  transform: translateX(70px);
  position: absolute;
  top: 245px;
  left: -170px;
}

.about__img__wrapper .about__main img {
  max-height: 600px;
  height: 100%;
  border-radius: 30px;
}

.about__img__wrapper .about__small img {
  max-height: 500px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  border: 5px solid #fff
}

/* Consultation section */

#consultation {
  background-image: url(/assets/1image-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 15px 90px 15px;
  transform: translateY(245px);
}

.consult__content .section__title, .consult__subtitle {
  color: var(--white-color);
}

.consult__subtitle {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 18px;
  text-transform: uppercase;
}

.consult__content {
  text-align: left;
}

#consultation .btn__area {
  justify-content: flex-end;
}

/* About extension */

#about__extension {
  padding: 115px 0px 110px 0px;
  transform: translateY(245px);
}

#about__extension .about__title {
  margin: 0px 0px 70px 0px;
}

.vector {
  background-image: url(/assets/Vector-16.png);
  background-position: 90% 50%;
  background-size: 13% auto;
  background-repeat: no-repeat;
  display: block;
  animation-name: unset;
  -webkit-animation-name: unset;
}

.vector__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  pointer-events: none;
}

.mar-r {
  margin-right: 140px;
}

.number {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 5px;
  color: var(--thm-color);
}

.number__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #4A4D52;
}

/* counter section */

#counter {
  padding: 0px 0px 20px 0px;
  transform: translateY(245px);
}

.counter__wrapper {
  padding: 100px 0px 60px;
  border-top: 1px solid var(--border-color);
}

.counter__items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.counter__icon {
  font-size: 45px;
  height: 90px;
  width: 90px;
  min-width: 90px;
  margin-right: 25px;
  background: var(--thm-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white-color);
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.counter__timer .timer {
  display: inline-block;
  margin-bottom: 5px;
  color: #1C1C25;
  line-height: 55px;
  font-size: 44px;
}

.counter__number span {
  font-size: 44px;
  font-weight: 600;
  line-height: 55px;
  color: #1C1C25;
}

.counter__title {
  font-size: 14px;
  line-height: 18px;
  color: #7B7E86;
  margin-bottom: 0px;
  font-weight: 500;
  text-transform: uppercase;
}

.counter__wrapper [class*='col-']:last-child .counter__items  {
  justify-content: flex-end;
}

.counter__wrapper [class*='col-']:first-child .counter__items  {
  justify-content: flex-start;
}

/* testimonials section */

#testimonials {
  background-image: url(/assets/5-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0px 115px 0px;
  transform: translateY(245px);
}

#testimonials p {
  color: var(--body-color);
  font-weight: 400;
  font-family: var(--body-font);
}

.person__name {
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
}

.testimonial__img {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.mb {
  margin-bottom: 70px;
}

.testimonial__img img {
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
}

.person__job {
  color: var(--thm-color);
}

#testimonials .about__subtitle, #testimonials .about__title {
  color: var(--white-color);
}

.testimonial__box {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  background: var(--white-color);
}

.testimonial__content {
  padding: 45px 40px 45px;
}

.testimonial__info {
  padding: 30px 40px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
}

.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  bottom: -40px;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

.slick-dots li {
  position: relative;
  cursor: pointer;
  margin: 0 4px;
  border: 2px solid #CEDCE9;
  border-radius: 50px;
  padding: 4px;
  height: 20px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.slick-dots li button {
  height: 8px;
  font-size: 0;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  border: none;
  padding: 4px;
  visibility: hidden;
}

.slick-dots li.slick-active button{
  background: var(--thm-color);
  visibility: visible;
}

.slick-dots li.slick-active{
  border: 2px solid var(--thm-color);
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: var(--thm-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: var(--thm-color);
}


/* Team section */
#team {
  padding: 112px 0px 80px 0px;
  transform: translateY(245px);
}

.team__container {
  position: relative;
}

.team__box {
  position: relative;
  transition: all 4s;
  margin-bottom: 30px;
}

.team__box img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.team__content {
  position: absolute;
  opacity: 0;
  bottom: 4%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--white-color);
  padding: 25px 30px;
  width: 96%;
  transition: all 0.4s;
  border-radius: 10px;
  text-align: center;
}

.team__container:hover .team__content {
  opacity: 1;
  width: 88%;
  transition: all 0.4s;
}

.heading__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 3px;
}

.heading__title a {
  color: var(--black-color);
}

.heading__title a:hover {
  color: var(--thm-color);
}

.content__socials {
  border-top: 1px solid var(--border-color);
  margin-top: 14px;
  padding-top: 20px;
}

.content__socials ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content__socials ul li {
  display: inline-block;
  margin-right: 5px;
}

.content__socials ul li a {
  width: 37px;
  height: 37px;
  color: var(--thm-color);
  background: var(--bg-color);
  font-size: 16px;
  line-height: 16px;
  display: flex;
  border-radius: 50%;
  transition: all 0.40s linear 0s;
  justify-content: center;
  align-items: center;
}

.content__socials ul li a:hover {
  color: var(--white-color);
  background: var(--thm-color);
}

.content__heading span {
  color: var(--thm-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}

.mb-5 {
  margin-bottom: 50px;
}

.wrap {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* projects section */

#projects {
  transform: translateY(245px);
}

.container-fluid {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

/* Basic styling for the carousel */
.slick__slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  position: relative;
  transition: transform 0.3s ease;
}

/* Styling for each slide item */
.slide__item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  transition: display 0.5s ease;
}

.slick__slider::-webkit-scrollbar {
  display: none;
}

#projects .about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

#projects .about__title {
  margin: unset;
}

.project-arrow-wrapper button {
  font-weight: 700;
  padding: 14px 30px;
  height: unset;
  width: unset;
  margin-left: 17px;
  border-radius: 100px;
  border: transparent;
  background: var(--thm-color);
  color: var(--white-color);
  margin-bottom: 0;
  text-transform: uppercase;
}

.arrow {
  border: none;
  background: var(--thm-color);
  color: var(--white-color);
  font-size: 16px;
  height: 54px;
  width: 123px;
  border-radius: 100PX;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
  font-size: 14px;
}

.arrow__wrapper button.arrow:hover{
  background: var(--bg-color);
  color: var(--thm-color);
}

.arrow__wrapper button i {
  font-size: 25px;
}

.arrow__wrapper {
  display: flex;
  align-items: center;
}

/* slider */

.slide__box {
  position: relative;
  margin-bottom: 20px;
  padding: 0 15px;
}

.slide__box:before {
  content: '';
  background: #0e59f2d9;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease 0s; 
}

.slide__box:hover:before {
  opacity: 0.9;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  border-radius: 15px;
} 

.slide__box img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
  height: 500px;
  min-height: 500px;
}

/* project slider */
.slide__box .project__box {
  opacity: 0;
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0px;
  transition: opacity 0.5s ease 0s;
  margin: auto;
  padding: 40px 40px;
}

.slide__box:hover .project__box {
  opacity: 1;
}

.project__category {
  line-height: 0;
  padding: 0 30px;
}

.project__category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project__category ul li {
  display: inline-block;
}

.project__category ul li a {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.project__category ul li a:hover {
  color: var(--black-color);
}

.project__title {
  font-weight: 500;
  margin-bottom: 0;
  padding: 0 30px;
}

.project__title a {
  color: var(--white-color);
}

.project__title a:hover {
  color: var(--black-color);
}

.project__icon {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%) scale(0);
  position: absolute;
  left: 50%;
  top: 40%;
  bottom: 30px;
  transition: all 0.5s ease 0s;
}

.slide__box:hover .project__icon { 
  transform: translateX(-50%) scale(1); 
}

.project__icon a {
  font-size: 18px;
  line-height: 18px;
  background: var(--white-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 55px;
  width: 55px;
  align-items: center;
}

/* join section */
#customer__service {
  padding: 100px 120px 111px 120px;
  transform: translateY(245px);
}

#customer__service .about__content {
  padding: 60px 0 60px;
}

#customer__service .about__btn__area {
  margin-top: 44px;
}

.cs__bg {
  background-image: url(/assets/bg-join.jpg);
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

#customer__service .highlight {
  font-weight: 500;
}

#customer__service .about__desc p {
  padding-right: 20px;
}

.cs__wrapper {
  text-align: right;
  margin-top: 30px;
}

.cs__area {
  padding: 25px 60px;
  background: var(--thm-color);
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--white-color);
}

span.cs__border {
  height: 1px;
  width: 150px;
  position: relative;
  background: var(--white-color);
  display: inline-block;
  margin: 0 20px;
  top: -3px;
}

.cs {
  position: relative;
}

/* blog section */

#blog {
  transform: translateY(245px);
}

#blog .title__content {
  margin-bottom: 50px;
}

.news__block {
  position: relative;
  display: block;
  border: 1px solid var(--border-color);
  margin-bottom: 30px;
  overflow: hidden; 
  border-radius: 20px;
  background: var(--white-color);
}

.news__img {
  position: relative;
  display: block;
  overflow: hidden;
}

.news__img img {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  min-height: 280px;
  height: 344px;
}

.news__block:hover .news__img img {
  transform: scale(1.1);
  opacity: 0.5;
  min-height: 280px;
}

.post__info {
  margin-bottom: 10px;
  padding-left: 0;
}

.post__info li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: var(--body-color);
  font-weight: 400;
  margin-right: 20px;
  padding-left: 20px;
}

.post__info li a {
  color: var(--body-color); 
  padding-left: 5px;
}

.post__info li a:hover {
  color: var(--thm-color);
}

.post__info li:last-child {
  margin: 0px !important;
}

.post__info li i {
  position: absolute;
  left: 0px;
  top: 4px;
  font-size: 14px;
  color: var(--thm-color);
}

a.news__btn {
  font-weight: 500;
  line-height: 20px;
  background: var(--bg-color);
  color: var(--thm-color);
  padding: 13px 35px;
  border-radius: 50px;
  margin-top: 30px;
  transition: .4s;
}

a.news__btn:hover {
  background: var(--black-color);
  color: var(--white-color);
}

.news__content h4 {
  display: block;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog__desc {
  margin-bottom: 0px;
	font-family: var(--body-font);
}

.news__content {
  position: relative;
  padding: 34px 40px 40px;
}

/* floating purchase btn */
.purchase__button {
  padding: 9px 14px;
  display: inline-block;
  background: #82b440;
  color: #ffffff;
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
}

.purchase__wrapper {
  position: fixed;
  right: 0;
  bottom: 250px;
  z-index: 9999;
}

.purchase__button i {
  margin-right: 9px;
}

.purchase__button:hover {
  color: #fff;
}

/* top-btn */
#back__top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
  color: var(--white-color);
  font-size: 25px;
  opacity: 1;
  visibility: visible;
  background: var(--thm-color);
}

/* brands section */

#brands {
  padding: 80px 0px 120px 0px;
  transform: translateY(245px);
}

.brand__box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  margin-right: -11px;
  margin-left: -10px;
  margin-top: -1px;
  padding: 70px 50px;
  transition: .4s;
}

#brands .title__content {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.brand__wrapper {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  overflow: hidden;
}

.brand__img {
  transition: .4s;
}

.brand__box:hover {
  box-shadow: 0px 14px 43px rgba(147, 151, 160, 0.15);
}

.brand__wrapper [class*='col-']:nth-child(5) .brand__box,
.brand__wrapper [class*='col-']:nth-child(6) .brand__box,
.brand__wrapper [class*='col-']:nth-child(7) .brand__box,
.brand__wrapper [class*='col-']:nth-child(8) .brand__box {
	border-bottom: 0;
}

.brand__wrapper [class*='col-']:nth-child(1) .brand__box,
.brand__wrapper [class*='col-']:nth-child(5) .brand__box {
	border-left: 0;
  border-top: 0;
}

.brand__wrapper [class*='col-']:nth-child(6) .brand__box,
.brand__wrapper [class*='col-']:nth-child(8) .brand__box,
.brand__wrapper [class*='col-']:nth-child(2) .brand__box,
.brand__wrapper [class*='col-']:nth-child(3) .brand__box {
  border-top: 0;
}

.brand__wrapper [class*='col-']:nth-child(3) .brand__box {
  border-bottom: 0;
}

.brand__img:hover img {
  filter: contrast(30%);
}


/* footer section */
#footer__area {
  transform: translateY(245px);
  background-color: #1D1A1A;
  background-image: url(/assets/footer-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__top {
  padding: 115px 0 100px;
  border-bottom: 1px solid #152B54;
}

.foot__title {
  margin-bottom: 23px;
  text-transform: capitalize;
  color: var(--white-color);
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.foot__desc {
  color: #8A99B4;
  font-family: var(--body-font);
}

.foot__social ul {
  margin: 0;
  padding: 0;
}

.foot__social ul li {
  list-style: none;
  display: inline-block;

}

.foot__social ul li a {
  color: var(--white-color);
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #15284C;
  margin-top: 16px;
  margin-right: 7px;
}

.foot__social ul li a:hover{
  color: var(--thm-color);
  background: var(--bg-color);
}

/* menu links */

.menu__items ul {
  margin: 0;
  padding: 0;
}

.menu__items ul li {
  list-style: none;
}

.menu__items ul li a {
  margin-bottom: 7px;
  font-weight: 400;
  color: #8A99B4;
  font-family: var(--body-font);
}

.menu__items ul li a:hover {
  color: var(--white-color);
}

.center {
  display: flex;
  justify-content: center;
}

/* recent posts */

.foot__posts ul {
  margin: 0;
  padding: 0;
}

.foot__posts ul li {
  list-style: none;
}

.post__item {
  display: flex;
  margin-bottom: 17px;
  padding-top: 8px;
}

.post__item .post__img img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 20px;
  min-width: 60px;
  border-radius: 10px;
}

.post__title a {
  color: var(--white-color);
}

.post__title a:hover {
  color: var(--thm-color);
}

.post__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.post__date {
  font-size: 14px;
  line-height: 17px;
  color: var(--white-color);
  font-weight: 300;
  margin-bottom: 8px;
}

.post__date i {
  margin-right: 8px;
}

.mb-0 {
  margin-bottom: 0;
}

/* footer bottom */

.icon__box {
  display: flex;
  padding: 60px 40px;
  border-right: 1px solid #152B54;
}

.footer__bot [class*='col-']:first-child .icon__box {
  padding-left: 0;
}

.footer__bot [class*='col-']:last-child .icon__box {
  border: none;
}

.icon {
  height: 85px;
  width: 85px;
  min-width: 85px;
  background: #152B54;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: var(--white-color);
  margin-right: 25px;
}

.icon__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 12px;
}

.icon__desc {
  font-weight: 500;
  color: #8A99B4;
  line-height: 26px;
  font-family: var(--body-font);
}

.copyright {
  padding: 30px 0;
  text-align: center;
  background: #0B2048;
  color: var(--white-color);
  font-family: var(--body-font);
}

/* About page */

#about__banner {
  padding: 250px 0 200px;
  margin-top: -1px;
  background-image: url(./assets/about-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 560px;
  text-align: center;
  color: var(--black-color);
}

#about__banner::before {
  mask-image: url(./assets/blue-line.svg);
  -webkit-mask-image: url(./assets/blue-line.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: top;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 113px 0;
  background: var(--thm-color); 
  z-index: 11;
}

#about__banner::after {
  mask-image: url(./assets/line-bg.svg);
  -webkit-mask-image: url(./assets/line-bg.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: top;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 60px 0;
  background: #ffffff;
}

.about.counter__wrapper {
  border-bottom: 1px solid var(--border-color);
}

.header__area a.themes-btn {
  margin-right: 0;
}

.abt__title {
  margin: 0;
  padding: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: var(--black-color);
  font-size: 60px;
  line-height: 75px;
  font-weight: 500;
  margin-bottom: 18px;
}

#welco {
  transform: translateY(114px);
}

#welco .about__content {
  margin-right: 0;
}

.support__box {
  padding: 40px;
  box-shadow: 0px 3px 66px rgba(23, 22, 36, 0.07);
  border-radius: 15px;
}

.support__list {
  display: flex;
  margin-bottom: 30px;
}

.list__title {
  font-weight: 500;
  margin-bottom: 5px;
}

.list__icon {
  line-height: 22px;
    font-size: 22px;
    font-weight: 900;
    display: flex;
    align-items: center;
    color: var(--thm-color);
    background: var(--bg-color);
    height: 55px;
    width: 55px;
    min-width: 55px;
    justify-content: center;
    border-radius: 50%;
    margin-right: 30px;
}

.call__area {
  display: flex;
  align-items: center;
}

.call__area .call__icon {
  height: 50px;
  width: 50px;
  min-width: 50px;
  background: var(--thm-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 100px;
  margin-left: 30px;
  margin-right: 10px;
}

.call__text {
  margin-left: 5px;
}

.call__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-bottom: 7px;
}

.call__num {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black-color);
}

.support__box a.themes-btn {
  margin-right: 0;
}

#welco .about__desc p {
  margin-bottom: 16px;
}

#welco .about__desc {
  margin-bottom: 20px;
}

#about__extension.extension {
  transform: translateY(165px);
}

#client {
  transform: translateY(165px);
  padding: 112px 60px;
  background-color: #E1DFFF;
  background-image: url(./assets/bg-area-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.info__title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 23px;
}

.info__desc, .info__designation {
  font-family: var(--body-font);
}

.info__name {
  margin-top: 43px;
  font-size: 22px;
  line-height: 27px;
  color: var(--black-color);
  font-weight: 500;
  margin-bottom: 2px;
}

.slick__slide {
  text-align: center;
}

.image__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#client .title__content {
  margin-bottom: 70px;
}

.client__img img {
  position: absolute;
  bottom: 0;
  left: 60px;
}

#client .slide__item {
  width: 100%;
  text-align: center;
}

#client .highlight {
  color: var(--thm-color);
  font-weight: 600;
}

.tes__1, .tes__2, .tes__3, .tes__4 {
  position: absolute;
  -webkit-animation: scale-down-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
  animation: scale-down-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@-webkit-keyframes scale-down-center {
  0% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
  100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
  }
}

/* shape Image */
.tes__1 {
  position: absolute;
  top: 45%;
  right: 17%;
  transform: translate(-50%, 0);
}

.tes__1  img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  object-fit: cover;
}

.tes__2 {
  position: absolute;
  top: 17%;
  right: 10%;
}

.tes__2 img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: cover;
}

.tes__3 {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.tes__3 img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  object-fit: cover;
}

.tes__4 {
  position: absolute;
  top: 10%;
  left: 4%;
}

.tes__4 img {
  height: 95px;
  width: 95px;
  border-radius: 100%;
  object-fit: cover;
}

/* contact page */
#time {
  padding: 110px 15px 120px 15px;
}

.item__wrapper {
  display: flex;
  padding: 80px 70px 40px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}

#time .icon__box {
  display: flex;
  margin-bottom: 30px;
  border-right: 1px solid var(--border-color);
  padding: 0 30px;
}

#time .icon {
  font-size: 22px;
  height: 70px;
  width: 70px;
  background: var(--bg-color);
  color: var(--thm-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  min-width: 70px;
  margin-right: 25px;
}

#time .icon__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #1C1C25;
  margin: 0px 0px 13px 0px;
}


#time .icon__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #7B7E86;
}

#time .icon__box.nb {
  border-right: 0;
}

i.fas.fa-phone-alt {
  transform: rotate(85deg);
}

/* contact section */

#contact__form {
  padding: 0px 0px 120px 0px;
}

#contact__form .container {
  padding: 80px 80px 80px 80px;
  background-color: #EFF1F5;
  border-radius: 20px 20px 20px 20px;
  background-image: radial-gradient(at center right, #0E59F2 0%, #0E59F200 49%);
  background-blend-mode: overlay;
}

#contact__form .col-5 {
  width: 40%;
}

#contact__form .col-7 {
  width: 60%;
}

.benefits__items {
  text-align: left;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.benefit__icon {
  font-size: 12px;
  height: 20px;
  width: 20px;
  border: 1px solid var(--thm-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--thm-color);
  border-radius: 50px;
  margin-right: 10px;
}

.left__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
  color: var(--black-color);
}

#contact__form .left__benefits .container {
  padding: 0 10px;
}

.left__info p, .left__info {
  margin-bottom: 1rem;
}

#contact__form .left__benefits .container {
  padding-left: 0;
  background: none;
}

input {
  color: #626262;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 18px 20px;
  box-shadow: none;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  max-height: 70px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  min-height: 120px;
  width: 100%;
  color: #626262;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 13px 20px;
  box-shadow: none;
  outline: none;
  margin-bottom: 30px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input__area input[type="text"] {
  background: var(--white-color);
  margin-bottom: 22px;
  border: transparent;
  height: 56px;
}

.input__area .select {
  background: var(--white-color);
  margin-bottom: 22px;
  color: #7B7E86;
  border: transparent;
  border-radius: 10px;
  padding: 18px 20px;
  box-shadow: none;
  outline: none;
  width: 100%;
  max-height: 70px;
  height: 64px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input__area textarea {
  background: var(--white-color);
  border: transparent;
  height: 146px;
}

.input__area input[type="submit"] {
  background: var(--thm-color);
  color: var(--white-color);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  transition: .4s;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
}

#footer__area.contact {
  transform: translateY(0);
}

.mobile__menu, .hamburger {
  display: none;
}

.menu__toggle {
  display: none;
}

/* Media queries */

@media (max-width: 767px) {
  .header__top .row {
    display: flex;
    flex-wrap: wrap;
  }

  .header__top .col {
    display: block;
    width: 100%;
    text-align: center;
  }

  #projects .about__content {
    display: block;
    width: 100%;
  }

  #projects .about__title {
    margin-bottom: 32px;
  }

  .prev {
    margin-left: 0;
  }


  .col {
    display: block;
    width: 100%;
  }

  .d-flex {
    justify-content: center;
  }

  .header__mail {
    margin: 0;
  }

  .col-auto .btn__area {
    display: none;
  }

  .main__menu ul {
    display: none;
  }

  .header__menu .mobile__menu {
    display: none;
    text-align: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
    background: #fff;
  }

  .hamburger {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    border: none;
    display: inline-block;
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--thm-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger i {
    font-size: 24px;
  }

  .mobile__menu {
    display: none;
    text-align: center;
  }

  .mobile__menu ul {
    list-style: none;
    padding: 0;
  }

  .mobile__menu li {
    margin-bottom: 20px;
  }

  .mobile__menu a {
    color: #000;
    text-decoration: none;
  }

  /* customer service */

  #customer__service {
    padding: 100px 0px 110px 0px
  }

  /* footer */

  .footer__bot {
    padding: 50px 0;
  }

  .footer__top {
    padding: 110px 15px 75px
  }

  .footer__top .col {
    padding-top: 30px;
  }

  .footer__bot [class*='col-']:first-child .icon__box {
    padding: 30px 15px;
}

  .icon__box {
    padding: 30px 15px;
  }
}













